name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  DEFAULT_JAVA: 17
  SONAR_JAVA: 17
  TARGET_JAVA_CLASS_FILE_VERSION: 52 # Java 8

jobs:
  test:
    name: Test
    strategy:
      matrix:
        java: [17, 21, 25]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    env:
      SONAR_TOKEN_PRESENT: ${{ secrets.SONAR_TOKEN != '' }}
      CENTRAL_SECRETS_PRESENT: ${{ secrets.CENTRAL_USERNAME != '' && secrets.CENTRAL_TOKEN != '' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # SonarCloud doesn't like shallow clones

      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          cache: maven
          server-id: central # basepom repository id
          server-username: CENTRAL_USERNAME
          server-password: CENTRAL_TOKEN

      - name: Build with Maven
        run: mvn -B clean verify

      - name: Verify Java class file version
        run: 'javap -verbose target/classes/io/github/mweirauch/micrometer/jvm/extras/ProcessMemoryMetrics.class | grep "major version: ${{ env.TARGET_JAVA_CLASS_FILE_VERSION }}"'

      - name: Cache SonarCloud packages
        if: env.SONAR_TOKEN_PRESENT == 'true' && matrix.java == env.SONAR_JAVA
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: SonarCloud analysis
        if: env.SONAR_TOKEN_PRESENT == 'true' && matrix.java == env.SONAR_JAVA
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B jacoco:report jacoco:report-integration org.sonarsource.scanner.maven:sonar-maven-plugin:5.5.0.6356:sonar -Dsonar.organization=mweirauch-github -Dsonar.projectKey=mweirauch_micrometer-jvm-extras -Dsonar.host.url=https://sonarcloud.io

      - name: Publish Snapshot
        if: env.CENTRAL_SECRETS_PRESENT == 'true' && matrix.os == 'ubuntu-latest' && matrix.java == env.DEFAULT_JAVA && github.ref == 'refs/heads/main'
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_TOKEN: ${{ secrets.CENTRAL_TOKEN }}
        run: mvn -B deploy -DskipTests=true -Dbasepom.check.skip-all=true
